# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Intellj
java/reflexion/.idea
*.iml
*/out/*


# Configuration files
app/config/parameters.ini
app/config/parameters.yml
